*{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
nav{
    width: 100%;
    margin-bottom: 2rem;
}
.frame-nav{
    display: flex;
    width: 100%;
    background-color: rgba(240, 255, 255, 0.568);
 
}
.imagen{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen img{
    width: 8rem;
    height: 8rem;
}

.frame-nav ul{
display: flex;
align-items: center;
justify-content: space-around;
width: 80%;
background-color:#6b5cff ;
border-top-left-radius: 1.5rem;
border-bottom-left-radius: 1.5rem;
}
.frame-nav ul li a {
    text-decoration: none;
    color: black;
    padding: 1rem 2rem;
    background-color: rgba(1, 7, 14, 0.301);
    border: solid 1px orange;
    border-radius: 2rem;
}
.frame-nav ul li a:hover{
    background-color:orange;
    border-radius: 2rem;
    padding: 1rem 2rem;
}

body section{
    width: 95%;
    border-radius: 2rem;
    border: solid 1px orange;
    background-color: rgba(127, 255, 212, 0.247);
    margin-bottom: 1rem;
}
.frame-text{
    text-align: center;
    padding: 0.5rem;
}
.block-two{
    height: 51rem;
}
.frame-conten{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.637);
}